* {
    font-family: 'Lato', sans-serif;
    color: #BCBBBB;
}

.banner {
    width: 100%;
}

.thumb {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4c4a4a;
    margin: 0px;
}

.header,
.hero,
.footer-div {
    margin: 3% 0;
}

.footer-title {
    /* by defualt h2 will have negetive margin left */
    margin-left: 0px;
}

@media screen and (min-width:768px) {
    .thumb-row {
        display: flex;
        justify-content: space-around;
    }
    .center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .end {
        float: right;
    }
    .start {
        float: left;
    }
}